* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
canvas {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  background-color: #87ceee;
  cursor: url('images/target.png') 37 36, auto;
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  user-select: none;
  width: 100%;
  z-index: 0;
}
.count {
  bottom: auto;
  color: #ffffff;
  font-family: Latte;
  font-size: 5em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 20%;
  width: 100%;
}
.count::selection {
  background: transparent;
}
.start-button {
  background-color: #ffffff;
  border-radius: 5px;
  border: 0px;
  bottom: auto;
  color: #87ceee;
  cursor: pointer;
  font-family: Latte;
  font-size: 1.2em;
  height: 50px;
  margin: 0 calc(50% - 75px);
  position: absolute;
  top: 150px;
  width: 150px;
  z-index: 10;
}
.start-button:hover {
  background-color: green;
  color: white;
}
.restart-button {
  background-color: #ffffff;
  border-radius: 5px;
  border: 0px;
  bottom: auto;
  color: #87ceee;
  cursor: pointer;
  font-family: Latte;
  font-size: 1.2em;
  height: 50px;
  margin: 0 calc(50% - 150px);
  position: absolute;
  top: calc(50% - 50px);
  visibility: hidden;
  width: 150px;
  z-index: 10;
}
.restart-button:hover {
  background-color: #2064AD;
  color: white;
}
.tweet-button {
  background-color: #ffffff;
  border-radius: 5px;
  border: 0px;
  bottom: auto;
  color: #87ceee;
  cursor: pointer;
  font-family: Latte;
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  margin: auto calc(50% + 20px);
  position: absolute;
  text-align: center;
  top: calc(50% - 50px);
  visibility: hidden;
  width: 150px;
  z-index: 10;
  text-decoration: none;
}
.tweet-button:hover {
  background-color: #1C9DEC;
  color: white;
}
.instruction-container {
  bottom: auto;
  font-family: Latte;
  font-size: 1.2em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 100%;
}
.instruction-container .instruction ul {
  margin: 0;
  padding: 0;
}
.instruction-container .instruction ul li {
  margin: 0;
  padding: 10px 0;
}
.instruction-container:before {
  content: url('images/duckling.png');
  margin: 0px calc(50% - 30px) 20px;
  text-align: center;
}
.instruction {
  background-color: #ffffff;
  border-radius: 5px;
  color: #87ceee;
  margin: 0 25%;
  text-align: center;
  width: 50%;
}
.callout {
  -moz-user-select: none;
  -webkit-user-select: none;
  background: white;
  border-radius: 8px;
  color: #000000;
  display: inline-block;
  left: 52%;
  padding: 20px;
  position: absolute;
  top: -9999px;
}
.callout:after {
  border-right-color: white;
  border: 10px solid transparent;
  bottom: 20px;
  content: '';
  display: block;
  position: absolute;
  right: 100%;
}
.callout.hit {
  top: 50%;
}
.callout.levelUp {
  top: 50%;
}
.duck-reverse {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  filter: FlipH;
  transform: scale(-1, 1);
}
